<!DOCTYPE html>
<html>
    <body>
        <h2> Input Values for Prediction Model</h2>
        <form method="POST" action="/predict">
            <label for="Pclass"> Passenger Class:  </label> <input type="number" id="Pclass"><br><br>

            <label for="Sex_male"> Sex:  </label><input type="number" id="Sex_male"><br><br>

            <label for="Age"> Age:  </label><input type="number" id="Age"><br><br>

            <label for="Fare"> Fare:  </label><input type="number" id="Fare"><br><br>

            <label for="Embarked_Q"> Embarked_Q:  </label><input type="number" id="Embarked_Q"><br><br>

            <label for="Embarked_S"> Embarked_S:  </label><input type="number" id="Embarked_S"><br><br>
            <input type="submit" value="Predict">
        </form>
    </body>
</html>